*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.labelTitulo{
  font-size: 15px;
  overflow: hidden;

}

.labelAutor{
  font-size: 12px;
  overflow: hidden;

}

.labelNota{
  font-size: 12px;
  overflow: hidden;

}

.imagem{
  height: auto;
}

.divImagem{
  text-align: center;
  border: 1px solid black;
}

.card-title{
  font-size: 14px;
  overflow: hidden;
  font-weight: 500;
}

.card-author {
  font-size: 12px;
  overflow: hidden;
  font-weight: 300;
}

.card{
  padding: auto;
  display: flex;
  flex-direction: column;
  padding: 10%;
  border-radius: 20px;
  border: 1px solid black;
  height: 100%;
  box-sizing: border-box;
  background-color: white;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05); /* Add a hover effect */
}
