*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #4D4D4D;
}

body {
  width: 93%;
}

.labelTitulo{
  font-size: 12px;
  overflow: hidden;

}

.labelAutor{
  font-size: 10px;
  overflow: hidden;

}

.labelNota{
  font-size: 10px;
  overflow: hidden;

}

.imagem{
  height: auto;
}

.divImagem{
  text-align: center;
}

.card-title{
  font-size: 13px;
  overflow: hidden;
  font-weight: 400;
}

.card-author {
  font-size: 10px;
  overflow: hidden;
  font-weight: 300;
}

.card{
  padding: auto;
  display: flex;
  flex-direction: column;
  padding: 10%;
  height: 42vh;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: white;
  transition: transform 0.2s ease-in-out;
  gap: 0.7em;
}

.card:hover {
  transform: scale(1.02); /* Add a hover effect */
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.card-image{
  height: 28vh;
  border-radius: 8px;
}