/* card-new-arrivals.component.css */
.card-new-arrivals {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: white;
  transition: transform 0.2s ease-in-out;
  gap: 0.7em;
}

.card-new-arrivals:hover {
  transform: scale(1.02);
}

.card-new-arrivals-image {
  width: 100%;
  height: 130px;
  border-radius: 8px;
}
