<div class="box">
  <div class="rectangle">
    <div class="new-arrivals-label">
      <span class="rotated-text">Lançamentos</span>
    </div>
    <div class="wrapper">
      <div *ngIf="!isLoading" class="carrousel" #carousel>
        <app-card-new-arrivals class="card" *ngFor="let card of cards" [card]="card"></app-card-new-arrivals>
      </div>
      <div *ngIf="isLoading" class="loading">
        <div class="text-center text-primary">
          <div class="spinner-border" role="status"></div>
        </div>
      </div>
    </div>
  </div>
</div>
