*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper .carousel {
  overflow: hidden;
}

.carousel {
  display: flex;
}

.card {
  padding: 10px 20px ;
  height: 340px;
  object-fit: cover;
  width: calc(100%/4);
  flex: 0 0 auto; /* Maintain width */
  margin-right: 10px; /* Optional spacing */
}

@media screen and (max-width: 900px){
  .carousel img{
    width: calc(100%/2);
  }
}

@media screen and (max-width: 550px){
  .carousel img{
    width: calc(100%);
  }
}
