* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  
  width: 100%;
}

.carousel {
  display: flex;
  gap: 1em;
  width: 100%;
  max-width: 100%;
  padding: 1em 0;
  border-radius: 10px;
  overflow-x: hidden;
}

.card {
  border-radius: 10px;
  width: 9.4em;
  max-width: 9.4em;
  flex: 0 0 auto; /* Impedir que as cartas redimensionem para além do tamanho fixo */
}

.loading {
  text-align: center;
  width: 100%; /* Garantir que o spinner centralize */
}

.recommendedFY {
  font-weight: 300;
  margin-bottom: 0.5em;
}
