* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: #4d4d4d;
}

.main-container {
  width: 100%;
  padding: 1em 2.5em;
}

.header {
  display: flex;
  margin-bottom: 0.5em;
  align-items: center;
}

.input__pesquisa {
  border: 0.5px solid #cfcfcf;
  padding: 0.65em 6em 0.65em 1em;
  border-radius: 20px 0 0 20px;
}

.input__pesquisa::placeholder {
  font-size: 1.2em;
  color: #999;
}

.input__pesquisa::-webkit-input-placeholder {
  font-size: 1.2em;
  color: #999;
}
.input__pesquisa::-moz-placeholder {
  font-size: 1.2em;
  color: #999;
}
.input__pesquisa:-ms-input-placeholder {
  font-size: 1.2em;
  color: #999;
}
.input__pesquisa:-moz-placeholder {
  font-size: 1.2em;
  color: #999;
}

.botao__pesquisa {
  padding: 0.5em 1.5em;
  border: 0.5px solid #cfcfcf;
  background-color: #dcdcdc;
  border-radius: 0 20px 20px 0;
}


.search-container {
  padding: 20px;
}

.book-list {
  display: flex;
  flex-direction: column;
}

.book-item {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  gap: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
}

.book-image {
  min-width: 90px;
  max-width: 90px;
  min-height: 100%;
  max-height: 100%;
  border-radius: 3px;
}

.book-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.disponibilidadeContainer {
  display: flex;
  flex-direction: row;

  img {
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }

  .itemDisponibilidade {
    display: flex;
    flex-direction: row;
    gap: .5em;
    width: max-content;
  }

  .disponibilidadeAcoes {
    display: flex;
    width: 100%;
    height: avaliable;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    justify-content: space-between;
    padding: 2.5em 0;

    a {
      color: white;
      width: 50%;
      height: 2em;
      background-color: #41b64d;
      border: 1px solid #41b64d;
      border-radius: 5px;
      text-decoration: none;
      text-align: center;
    }
  }
}

.icons_dispo {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}