<div>
    <h2>Nota do Dia</h2>
    <p>“Há mais tesouros nos livros do que em todos os saques dos piratas na Ilha do Tesouro.”</p>
    <p class="autor">- Walt Disney</p>
  </div>
<div class="box">
  <div class="rectangle">
    <div class="new-arrivals-label">
      <span>Lançamentos</span>
    </div>
    <div class="wrapper">
      <div *ngIf="!isLoading" class="carousel" #carousel>
        <app-card-new-arrivals class="card" *ngFor="let card of cards" [card]="card"></app-card-new-arrivals>
      </div>
      <div *ngIf="isLoading" class="loading">
        <div class="text-center text-primary">
          <div class="spinner-border" role="status"></div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
