* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
}

.quote {
  padding: 1.4em 1em;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  background: linear-gradient(to bottom right, #c9472aee, #5b24d1);
  border: 1px solid black;
  border-radius: 9px;
  flex: 1;
  margin: 1em 0;
}

p,
h2 {
  font-family: "Inter", sans-serif;
}

h2 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

.autor {
  text-align: end;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex: 2;
  min-width: 300px;
}

.rectangle {
  display: flex;
  width: 100%;
  border: 2px solid #5b24d1;
  border-radius: 8px;
  padding: 15px;
  position: relative;
  overflow: hidden; /* Ensure content doesn't overflow */
}

.new-arrivals-label {
  display: flex;
  align-items: center; /* Center align vertically */
  justify-content: center;
  width: 60px; /* Adjust width as needed */
  background: linear-gradient(90deg, #EB5231, #571FCF);
  color: white;
  font-weight: bold;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.rotated-text {
  writing-mode: vertical-rl; /* Vertical text */
  text-orientation: mixed;
  transform: rotate(180deg); /* Rotate the text to start from bottom to top */
}

.wrapper {
  width: calc(100% - 60px); /* Adjust based on label width */
  height: 100%;
  overflow: hidden;
  margin-left: 60px; /* Add left margin to avoid overlap with the label */
}

.carrousel {
  display: flex;
  gap: 1em;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  padding-bottom: 1em;
}

.card {
  scroll-snap-align: start;
  border-radius: 10px;
  min-width: 100px;
  max-width: 100px;
  flex: 0 0 auto;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

p,
h2 {
  font-family: "Inter", sans-serif;
}

@media (max-width: 768px) {
  .quote {
    padding: 1.5em;
  }
}

@media (max-width: 480px) {
  .quote {
    padding: 1em;
  }
}
