* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: #4d4d4d;
}

.main-container {
  width: 100%;
  padding: 1em 2.5em;
}

.header {
  display: flex;
  margin-bottom: 0.5em;
  align-items: center;
}

.quote__and__newsRack {
  display: flex;
  gap: 13em;
  width: 100%;
}

.input__pesquisa {
  border: 0.5px solid #cfcfcf;
  padding: 0.5em 6em 0.5em 1em;
  border-radius: 20px 0 0 20px;
}

.input__pesquisa::placeholder {
  font-size: 1em;
  color: #999;
}

.input__pesquisa::-webkit-input-placeholder {
  font-size: 1em;
  color: #999;
}
.input__pesquisa::-moz-placeholder {
  font-size: 1em;
  color: #999;
}
.input__pesquisa:-ms-input-placeholder {
  font-size: 1em;
  color: #999;
}
.input__pesquisa:-moz-placeholder {
  font-size: 1em;
  color: #999;
}

.botao__pesquisa {
  padding: 0.5em 1.5em;
  border: 0.5px solid #cfcfcf;
  background-color: #dcdcdc;
  border-radius: 0 20px 20px 0;
}
