<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="main-container">
    <a href="/login">Login</a>
    <h1>Home</h1>
    <img src="/assets/images/logo.png" alt="logo" width="200" height="200">
    <input type="text" placeholder="Nome do livro" [(ngModel)]="search">

    <button (click)="onSearch()">Buscar</button>

    <div *ngIf="books.length > 0">
      <ul>
        <li *ngFor="let book of books">
          <img [src]="book.volumeInfo?.imageLinks?.thumbnail" alt="book.title" width="100" height="100">
          <p>{{book.volumeInfo.title}}</p>
          <p>
            {{book.volumeInfo.authors}}
          </p>
          <a [href]="book.volumeInfo.previewLink" target="_blank">Ver mais</a>
        </li>
      </ul>
    </div>
  </div>
</body>

</html>
