* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

#bodyContent{
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 100%;
  min-width: 100%;
  background-color: #ffffff;
}

#mainContent{
  width: 84.5%;
  height: 100vh;
  background-color: #f3f3f7;
  display: flex;

  #searchBar{
    background-color: red;
    height: 60px;
    width: calc(100%/2);
    display: flex;
    justify-content: center;
    align-items: center;

    #rectangleSearch{
      width: 80%;
      height: 70%;
      background-color: #ffffff;
      border-radius: 25px;
      display: flex;
      flex-direction: row;
      border: 1px solid black;
      align-items: center;

      #rectangleDetailSearch{
        width: 20%;
        height: 100%;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        background-color: #f7f7fa;
      }
      input{
        border: none;
        height: 80%;
        width: 70%;
        border-right: 1px solid lightgray;

      }

    }
  }

  #time{
    background-color: yellow;
    height: 60px;
    width: calc(100%/3);
    display: flex;
    justify-content: center;
    align-items: center;

    #rectangleTime{
      width: 80%;
      height: 70%;
      background-color: #ffffff;
      border-radius: 25px;
      display: flex;
      flex-direction: row;
      border: 1px solid black;
      align-items: center;
    }
  }

  #user{
    background-color: green;
    height: 60px;
    width: calc(100%/6);
    display: flex;
    justify-content: center;
    align-items: center;

    #rectangleUser{
      width: 80%;
      height: 70%;
      background-color: #ffffff;
      border-radius: 25px;
      display: flex;
      flex-direction: row;
      border: 1px solid black;
      align-items: center;
    }
  }
}

#sidebar {
  height: 100vh;
  width: 15.5%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;

  #icon {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      height: 200%;
      width: 200%;
      padding-right: 10%;

    }
  }

  #navegacao {
    height: 15%;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    /*background-color: yellow;*/
    align-items: center;

    .div_nav{
      height: calc(100% / 3);
      display: flex;
      width: 50%;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      justify-content: flex-start;
      gap: 20px;
      cursor: pointer;

      img{
        width: 25px;
        height: 25px;
        padding-bottom: 5px;
      }

      a {
        outline: none;
        width: auto;
        color: #8a8a8a;
        text-decoration: none;
      }
    }

  }

  #info {
    height: 60%;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .info {
      height: 80px;
      /*background-color: green;*/
      display: flex;
      flex-direction: column;
      align-items: center;

      a{
        height: calc(100% / 3);
        width: 50%;
        font-size: 12px;
        color: #8a8a8a;
        text-decoration: none;
      }
    }
  }
}
