<div id="content">
  <div id="sidebar">
    <div id="icon">
      <img src="../../../assets/images/logo.png" alt="" />
    </div>
    <nav id="navegacao" >
      <a href="#"><img src="../../../assets/images/icons-sidebar/casa.png" alt="Home Icon" /> Home</a>
      <a href="#" ><img src="../../../assets/images/icons-sidebar/lupa-de-pesquisa.png" alt="Search Icon"/> Search</a>
      <a href="/my-shelf"><img src="../../../assets/images/icons-sidebar/bibliotecario-com-livros-em-um-carrinho.png" alt="My Shelf Icon" /> My shelf</a>
      
    </nav>
    <div id="info">
      <div class="info">
        <a href="#">About</a>
        <a href="#">Support</a>
        <a href="#">Terms & Condition</a>
      </div>
    </div>
  </div>
  <div class="teste">
    <router-outlet></router-outlet>
  </div>
</div>
