/* You can add global styles to this file, and also import other style files */
*{
  margin:0;
  padding: 0;
}

#content{
  background-image: url("/assets/images/login/backgroundLogin.jpg");
  width: 100%;
  height: 100vh;
  background-size:cover;

}

